<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../resources/css/blog_quienes_somos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../resources/css/footer.css">
</head>

<body>

    <header id="header_blog">
        <div class="logo_container">
            <img src="../../resources/svg/luxurylogo.svg" alt="">
        </div>

        <div class="container_header_blog">
            <ul>
                <a href="../../views/public/quienes_somos.html">
                    <li>¿Quienes somos?</li>
                </a>
                <a href="../../views/public/mision_vision.html">
                    <li>Misión y Visión</li>
                </a>
                <a href="">
                    <li>Historia</li>
                </a>
                <a href="../../views/public/index.html">
                    <li>Tienda</li>
                </a>
            </ul>
        </div>
    </header>

    <main>

        <div class="container-fluid">
            <div class="row">

                <img src="../../resources/img/gato5.png" alt="" class="col-md-6 col-lg-4 col-sm-12 p-0 image-fixer">

                <div class="col-md-6 col-lg-8 col-sm-12 text-beauty-fixer p-5">

                    <h2 class="pb-3 pt-3">Donde comenzó</h2>

                    <p>La historia de LuxuryCat se remonta a una tarde lluviosa de primavera, cuando dos amigos, Stanlin
                        y
                        Julio, se encontraban disfrutando de una taza de té en su acogedor apartamento. Ambos
                        compartían una pasión ardiente por los gatos y, mientras observaban a sus propios felinos jugar
                        con juguetes desgastados y rascar muebles viejos, surgieron chispas de inspiración.</p>

                    <p>
                        Decididos a proporcionar a sus amados gatos una experiencia más digna de realeza,Stanlin y
                        Julio se propusieron crear una tienda en línea que ofreciera productos de lujo para gatos. Así
                        nació
                        la idea de LuxuryCat: un lugar donde los gatos pudieran vivir como reyes y reinas, rodeados de
                        comodidades y elegancia.
                    </p>
                </div>

            </div>
            <div class="row row_identifier-2">


                <div class="col-md-6 col-lg-8 col-sm-12 text-beauty-fixer p-5">

                    <h2 class="pb-3 pt-3">Siguiendo</h2>

                    <p class="pl-4 pr-4">Con determinación y entusiasmo, Stanlin y Julio se sumergieron en el mundo de
                        los
                        negocios, investigando las últimas tendencias en productos para mascotas, estableciendo
                        relaciones con proveedores de calidad y diseñando una plataforma en línea que reflejara la
                        esencia de la sofisticación felina.

                    </p>

                    <p>
                        Después de meses de arduo trabajo y dedicación, LuxuryCat vio la luz del día. Desde el primer
                        momento, la tienda en línea atrajo la atención de los amantes de los gatos de todo el mundo,
                        quienes quedaron encantados con la exquisita selección de productos y el servicio al cliente
                        excepcional.

                    </p>
                </div>


                <img src="../../resources/img/gato6.png" alt="" class="col-md-6 col-lg-4 col-sm-12 p-0 image-fixer">
            </div>

            <div class="row">

                <img src="../../resources/img/gato7.png" alt="" class="col-md-6 col-lg-4 col-sm-12 p-0 image-fixer">

                <div class="col-md-6 col-lg-8 col-sm-12 text-beauty-fixer p-5">

                    <h2 class="pb-3 pt-3">Actualmente</h2>

                    <p>A lo largo de los años, LuxuryCat ha crecido y evolucionado, ampliando su gama de productos para
                        incluir desde elegantes camas hasta juguetes interactivos de alta tecnología. Sin embargo, a
                        pesar de su éxito y expansión, Ana y Marcos siguen siendo fieles a su visión original de
                        proporcionar a cada gato una vida de lujo y confort.</p>

                    <p>
                        Hoy en día, LuxuryCat sigue siendo un destino de referencia para los amantes de los gatos que
                        buscan lo mejor para sus mascotas. Con un equipo dedicado y apasionado detrás de cada producto,
                        LuxuryCat continúa redefiniendo los estándares de la industria de productos para gatos, elevando
                        el arte de mimar a nuestros amigos felinos a nuevas alturas de elegancia y estilo.
                    </p>
                </div>

            </div>
        </div>

    </main>

    <footer></footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

    <!-- Iconos -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- SweetAlerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Controllers -->
    <script src="../../controllers/utils/footer.js"></script>
</body>

</html>