<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css" />
    <link rel="stylesheet" href="../../resources/css/private-sidebar.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>



<body id="productos">
    <header></header>
    <main>
        <div class="row m-5">
            <div class="col-md-3 col-sm-12 louis-george-bold fs-3">Productos</div>
            <form id="searchForm" class="col-md-5 col-sm-12">

                <input class="form-control me-2 mb-2" type="search" placeholder="Buscar" name="search"
                    aria-label="Buscar" id="searchInput" />
            </form>
            <div class="col-md-2 col-sm-12">
                <button class="btn btn-dark w-100" onclick="openCreate()">Agregar</button>
            </div>
        </div>

        <div class="table-responsive-md">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Producto</th>
                        <th class="col-md-1">Categoría</th>
                        <th class="col-md-2">Marca</th>
                        <th class="col-md-1">Imagen</th>
                        <th class="col-md-1">Estado</th>
                        <th class="col-md-1">Opciones</th>
                    </tr>
                </thead>

                <tbody id="tableBody">

                </tbody>
            </table>
        </div>
    </main>

                    <!-- Modal -->
                    <div class="modal fade" id="saveModal" tabindex="-1" 
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 70%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Producto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="saveForm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="number" class="d-none" id="producto_id" name="producto_id">

                                            <div class="mb-3">
                                                <label for="producto_nombre" class="form-label">Nombre</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    id="producto_nombre" name="producto_nombre">
                                            </div>

                                            <div class="mb-3">
                                                <label for="producto_descripcion" class="form-label">Descripción</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    id="producto_descripcion" name="producto_descripcion">
                                            </div>

                                            <div class="mb-3">
                                                <label for="producto_precio" class="form-label">Precio</label>
                                                <input type="number" class="form-control form-control-lg"
                                                    id="producto_precio" name="producto_precio" step="0.01" min="0.01">
                                            </div>

                                            <div
                                                class="row mb-2 col-md-12 d-flex align-items-center justify-content-center">
                                                <div
                                                    class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                                    <input class="form-check-input" type="radio" name="producto_estado"
                                                        id="activo" value="1">
                                                    <label class="form-check-label" for="activo">Activo</label>
                                                </div>
                                                <div
                                                    class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                                                    <input class="form-check-input" type="radio" name="producto_estado"
                                                        id="inactivo" value="0">
                                                    <label class="form-check-label" for="inactivo">Inactivo</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label for="producto_cantidad" class="form-label">Cantidad</label>
                                                <input type="number" class="form-control form-control-lg"
                                                    id="producto_cantidad" name="producto_cantidad">
                                            </div>

                                            <div class="mb-3">
                                                <label for="categoria_id" class="form-label">Categoría</label>
                                                <select id="categoria_id" name="categoria_id" class="form-select"
                                                    required>
                                                    <!-- Options should be added dynamically here -->
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="marca_id" class="form-label">Marca</label>
                                                <select id="marca_id" name="marca_id" class="form-select" required>
                                                    <!-- Options should be added dynamically here -->
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="container mt-5">
                                                <div class="border border-dashed py-5 text-center">
                                                    <label for="producto_imagen" class="form-label">Imagen</label>
                                                    <input id="producto_imagen" type="file" name="producto_imagen"
                                                        class="form-control" accept=".png, .jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-dark">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

    <!-- Iconos -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- SweetAlerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Controladores -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/admin/producto.js"></script>
</body>

</html>